.Loading-spinner{
    width: 75px;
    height: 75px;
    margin: auto;
    background: transparent;
    border-top: 4px solid #0aad0a;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 0.5s spin linear infinite;
    animation: 0.5s spin linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);

    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}